/* CSS Document */
html, body{
    height: 100%;
}

nav {
    background-color: #203647 !important;
    border-color: #203647 !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    margin: 0px !important;
}

.navbar a{
    color: #EEFBFB !important;
    background-color: #203647 !important;
}

.navbar-header a{
    font-size: 1.4em !important;
}


#games-dropdown a{
    font-size: 1.2em !important;
}

#games-dropdown > .dropdown-menu a{
    background-color: #1e3444 !important;
    color: #EEFBFB !important;
    font-size: 1.1em !important;
}

.dropdown-menu{
    background-color: #1e3444;
}

#games-dropdown > .dropdown-menu a:hover{
    background-color: #304e64 !important;
    color: #EEFBFB !important;
}

#main-body{
}

canvas{
    height: 919px;
    width: 919px;
}