/* CSS Document */
html, body{
    height: 100%;
}


nav {
    background-color: #26445a !important;
    border-color: #26445a !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    margin: 0px !important;
}
.navbar a{
    color: #EEFBFB !important;
}
.navbar-header a{
    font-size: 1.45em !important;
}
.nav-item{
    font-size: 1.23em !important;
}
.nav-item a:hover{
    background-color: #335369 !important;
}
.nav-item a:active{
    background-color: #335369 !important;
}
.nav-item a:visited{
    background-color: #335369 !important;
}
#games-dropdown > .dropdown-menu a{
    background-color: #ffffff !important;
    color: #000000 !important;
    font-size: 1.2em !important;
    font-weight: 200;
}
#games-dropdown > .dropdown-menu a:hover{
    background-color: #d1d1d1 !important;
    color: #000000 !important;
}

canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h1{
    position: absolute;
    top: 1.7em;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
    z-index: 10;
}


#panel-parent{
    position: absolute;
    top: 5em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    width: 80em;
}

#bio-panel > .panel-body *{
    color: #12232E!important;
}

.gravity-game{
    text-align: justify;
    width: 307px;
    border-style: solid;
    border-color: #396c91;
}

.node-credit{
    position: fixed;
    bottom: 0em;
    right: 0.5em;
}


.profile_box{
    margin-left: 10px;
    display: inline-block;
    height: fit-content;
    vertical-align: top;
}

.inner_box{
    width: fit-content; 
    margin: 0 auto;
}

.inner_box p{
    display: inline;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 0;
    height: 100%;
}

.section_title{
    margin-bottom: 0em!important;
    margin-top: 0.1em!important;
    font-size: 20px!important;
    text-align: center;
    font-weight: bold;
}

.bio_section_title{
    margin-left: 20px; 
    font-size: 18px; 
    background-color: gainsboro;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

td, th{
    border: 1px solid #ddd;
    padding: 8px;
}