/* CSS Document */
html, body{
    height: 100%;
}

nav {
    background-color: #203647 !important;
    border-color: #203647 !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    margin: 0px !important;
}

.navbar a{
    color: #EEFBFB !important;
    background-color: #203647 !important;
}

.navbar-header a{
    font-size: 1.4em !important;
}


#games-dropdown a{
    font-size: 1.3em !important;
}

#games-dropdown > .dropdown-menu a{
    background-color: #1e3444 !important;
    color: #EEFBFB !important;
    font-size: 1.1em !important;
}

.dropdown-menu{
    background-color: #1e3444;
}

#games-dropdown > .dropdown-menu a:hover{
    background-color: #304e64 !important;
    color: #EEFBFB !important;
}

canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

h1{
    position: absolute;
    top: 1.5em;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
}

h1{
    z-index: 10;
}

#panel-parent{
    position: absolute;
    top: 10em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    width: 80em;
}

#bio-panel > .panel-body *{
    color: #12232E!important;
}
