nav {
    background-color: #26445a !important;
    border-color: #26445a !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    margin: 0px !important;
}
.navbar a{
    color: #EEFBFB !important;
}
.navbar-header a{
    font-size: 1.45em !important;
}
.nav-item{
    font-size: 1.23em !important;
}
.nav >li > a:hover, .nav > li > a:focus{
    background-color: #335369 !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover 
{
  background-color: unset !important;
}
#games-dropdown > .dropdown-menu a{
    background-color: #ffffff !important;
    color: #000000 !important;
    font-size: 1.2em !important;
    font-weight: 200;
}
#games-dropdown > .dropdown-menu a:hover{
    background-color: #d1d1d1 !important;
    color: #000000 !important;
}


#panel-id-body input, button{
    background-color: #272626; 
    border-color: black; 
    border-width: 1.5px; 
    border-radius: 4px;
    font-size: 15px;
    border-style: solid; 
}

#panel-id-body input{
    width: 170px; 
    height: 29px; 
}

#panel-id-body button{
    font-size: 16px;
    margin-left: 60px; 
    padding-left: 13px; 
    padding-right: 13px; 
    padding-top: 2px; 
    padding-bottom: 2px;
    margin-right: 10px;
}

#panel-id-body button:hover{
    background-color: #1a1a1a; 
}

#panel-id-body label{
    font-size: 17px;
}

#panel-id-body span{
    font-size: 16px;
}